.header {
  grid-area: header;
  background-color: rgba(50, 56, 176, 0.929);
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  justify-content: space-between;
}

.header__img {
  width: 80px;
  height: 80px;
}

.header__items {
  display: flex;
  flex-direction: row;
  padding-right: 100px;
}

.header__item:not(:last-child) {
  margin-right: 30px;
}

.header__link {
  font-size: 30px;
  color: #000;
}

.active {
  font-size: 30px;
  color: red;
}
